<h1>Edit Task</h1>

<%= form_with method: :put, scope: :task, url: category_task_path, model: @task, local: true do |form| %>
    <% if @task.errors.any? %>
        <div id="error_explanation">
        <h2>
            <%= pluralize(@task.errors.count, "error") %> prohibited
            this task from being saved:
        </h2>
        <ul>
            <% @task.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
        </ul>
        </div>
    <% end %>
    
    <p>
        <%= form.label :name %><br>
        <%= form.text_field :name %>
    </p>
    
    <p>
        <%= form.label :description %><br>
        <%= form.text_area :description %>
    </p>

    <p>
        <%= form.label :deadline %><br>
        <%= form.date_field :deadline %>
    </p>

    <p>
        <%= form.label :started %><br>
        <%= form.check_box :started %>
    </p>

    <p>
        <%= form.label :completed %><br>
        <%= form.check_box :completed %>
    </p>

    <p>
        <%= form.label :category_id %><br>
        <%= form.select :category_id, options_from_collection_for_select(Category.all, :id, :name, form.object.category_id) %>
    </p>
    
    <p>
        <%= form.submit %>
    </p>

<% end %>
    

 
<%= link_to 'Back', category_tasks_path %>