<!DOCTYPE html>
<html>
  <head>
    <title>TodoApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <span class="nav_links">
        <%= link_to 'Home', '/' %> |
        <%= link_to 'Categories', categories_path %> |
        <%= link_to 'Tasks', tasks_path %>
      </span>
      <span class="user_info">
        <% if user_signed_in? %>
            <%= current_user.email %> |
            <%= link_to 'user settings', edit_user_registration_path %> |
            <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
        <% else %>
            <li><%= link_to 'Log In', new_user_session_path %></li>
            <li><%= link_to 'Sign Up', new_user_registration_path %></li>
        <% end %>
      </span>
      <br /><hr />
    <% end %>
    <%= yield %>
  </body>
</html>
