<!DOCTYPE html>
<html>
  <head>
    <title>TodoApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to 'Home', '/' %> |
    <%= link_to 'Categories', categories_path %> |
    <%= link_to 'Tasks', tasks_path %>
    <hr />
    <%= yield %>
  </body>
</html>
